In [20]:
import pandas as pd 
import numpy as np

In [21]:
df = pd.read_csv('GlobalTemperatures.csv')

In [22]:
df

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
5,1750-06-01,12.937,1.724,NaN,NaN,NaN,NaN,NaN,NaN
6,1750-07-01,15.868,1.911,NaN,NaN,NaN,NaN,NaN,NaN
7,1750-08-01,14.750,2.231,NaN,NaN,NaN,NaN,NaN,NaN
8,1750-09-01,11.413,2.637,NaN,NaN,NaN,NaN,NaN,NaN
9,1750-10-01,6.367,2.668,NaN,NaN,NaN,NaN,NaN,NaN
10,1750-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1750-12-01,2.772,2.970,NaN,NaN,NaN,NaN,NaN,NaN
12,1751-01-01,2.495,3.469,NaN,NaN,NaN,NaN,NaN,NaN
13,1751-02-01,0.963,3.827,NaN,NaN,NaN,NaN,NaN,NaN
14,1751-03-01,5.800,3.051,NaN,NaN,NaN,NaN,NaN,NaN
15,1751-04-01,7.670,2.368,NaN,NaN,NaN,NaN,NaN,NaN
16,1751-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1751-06-01,13.827,1.801,NaN,NaN,NaN,NaN,NaN,NaN
18,1751-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1751-08-01,14.405,2.296,NaN,NaN,NaN,NaN,NaN,NaN
20,1751-09-01,10.673,2.656,NaN,NaN,NaN,NaN,NaN,NaN
21,1751-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1751-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1751-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1752-01-01,0.348,3.789,NaN,NaN,NaN,NaN,NaN,NaN
25,1752-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1752-03-01,5.806,3.192,NaN,NaN,NaN,NaN,NaN,NaN
27,1752-04-01,8.265,2.398,NaN,NaN,NaN,NaN,NaN,NaN
28,1752-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1752-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3162,2013-07-01,15.003,0.126,20.737,0.100,9.330,0.153,17.503,0.068
3163,2013-08-01,14.742,0.129,20.596,0.120,9.014,0.179,17.462,0.068
3164,2013-09-01,13.154,0.104,18.947,0.077,7.482,0.194,16.894,0.064
3165,2013-10-01,10.256,0.077,15.994,0.100,4.663,0.135,15.905,0.062
3166,2013-11-01,7.424,0.079,12.965,0.113,2.016,0.116,15.107,0.062
3167,2013-12-01,4.724,0.085,10.083,0.129,-0.548,0.105,14.339,0.065
3168,2014-01-01,3.732,0.075,9.327,0.138,-1.755,0.091,14.136,0.064
3169,2014-02-01,3.500,0.068,9.146,0.073,-2.080,0.095,14.157,0.065
3170,2014-03-01,6.378,0.098,12.367,0.108,0.436,0.139,15.090,0.068
3171,2014-04-01,9.589,0.111,15.529,0.090,3.617,0.193,16.038,0.069
3172,2014-05-01,12.582,0.068,18.362,0.158,6.613,0.166,16.804,0.059
3173,2014-06-01,14.335,0.096,20.126,0.095,8.473,0.157,17.303,0.064
3174,2014-07-01,14.873,0.078,20.711,0.091,9.112,0.135,17.508,0.061
3175,2014-08-01,14.875,0.115,20.790,0.098,9.047,0.173,17.607,0.064
3176,2014-09-01,13.091,0.086,18.865,0.106,7.399,0.155,16.975,0.059
3177,2014-10-01,10.330,0.076,16.066,0.111,4.689,0.126,16.029,0.059
3178,2014-11-01,6.713,0.121,12.284,0.124,1.313,0.115,14.899,0.064
3179,2014-12-01,4.850,0.090,10.190,0.148,-0.331,0.123,14.410,0.062
3180,2015-01-01,3.881,0.130,9.432,0.090,-1.518,0.097,14.255,0.066
3181,2015-02-01,4.664,0.121,10.497,0.092,-1.138,0.113,14.564,0.067
3182,2015-03-01,6.740,0.060,12.659,0.096,0.894,0.079,15.193,0.061
3183,2015-04-01,9.313,0.088,15.224,0.137,3.402,0.147,15.962,0.061
3184,2015-05-01,12.312,0.081,18.181,0.117,6.313,0.153,16.774,0.058
3185,2015-06-01,14.505,0.068,20.364,0.133,8.627,0.168,17.390,0.057
3186,2015-07-01,15.051,0.086,20.904,0.109,9.326,0.225,17.611,0.058
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [23]:
df = df[['dt', 'LandAverageTemperature', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]

In [25]:
df = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

1992

In [28]:
df['dt'] = pd.to_datetime(df['dt'])

In [29]:
df['date_delta'] = (df['dt'] - df['dt'].min())  / np.timedelta64(1,'D')
df = df[['date_delta', 'LandAverageTemperature', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]

In [31]:
X_train = df[['date_delta', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]
y_train = df['LandAverageTemperature']

In [35]:
from sklearn.linear_model import LinearRegression

lineReg = LinearRegression()
lineReg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [66]:
df = pd.read_csv('1.csv')

In [67]:
df = df[['dt', 'LandAverageTemperature', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]

In [68]:
df['dt'] = pd.to_datetime(df['dt'])

In [69]:
df['date_delta'] = (df['dt'] - df['dt'].min())  / np.timedelta64(1,'D')
df = df[['date_delta', 'LandAverageTemperature', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]

In [70]:
X_test = df[['date_delta', 'LandMaxTemperature', 'LandMinTemperature', 'LandAndOceanAverageTemperature']]
y_test = df['LandAverageTemperature']

In [72]:
predict = lineReg.predict(X_test)

In [59]:
predict

array([ 4.73235822,  5.49128357,  7.61135661, 10.19429208, 13.10536469,
       15.34670742, 16.02856668, 15.80662981, 13.95827107, 11.67588878,
        8.30632665,  6.41188346,  4.72827019,  5.48719554,  7.60727975,
       10.19021522, 13.10128783, 15.34263056, 16.02448983, 15.80255295,
       13.95419421, 11.67181192,  8.30224979,  6.4078066 ,  4.72419333,
        5.48311869,  7.60320289, 10.18613837, 13.09721097, 15.33855371,
       16.02041297, 15.7984761 , 13.95011735, 11.66773507,  8.29817294,
        6.40372974,  4.72011648,  5.47904183,  7.59912604, 10.18206151,
       13.09313412, 15.33447685, 16.01633611, 15.79439924, 13.94604049,
       11.66365821,  8.29409608,  6.39965289,  4.71603962,  5.47496497,
        7.59503801, 10.17797348, 13.08904609, 15.33038882, 16.01224808,
       15.79031121, 13.94195247, 11.65957018,  8.29000805,  6.39556486,
        4.71195159,  5.47087695,  7.59096115, 10.17389662, 13.08496923,
       15.32631196, 16.00817123, 15.78623435, 13.93787561, 11.65549332,
        8.2859312 ,  6.391488  ,  4.70787474,  5.46680009,  7.5868843 ,
       10.16981977, 13.08089238, 15.32223511, 16.00409437, 15.7821575 ,
       13.93379875, 11.65141647,  8.28185434,  6.38741114])

In [52]:
y_test

0      3.881
1      4.664
2      6.740
3      9.313
4     12.312
5     14.505
6     15.051
7     14.755
8     12.999
9     10.801
10     7.433
11     5.518
Name: LandAverageTemperature, dtype: float64

In [201]:
predict = lineReg.predict(X_test)

In [202]:
predict[:20]

array([17.62619823, 17.6284014 , 17.63039136, 17.63259454, 17.63472664,
       17.63692981, 17.63906192, 17.64126509, 18.96271533, 18.98865592,
       19.01459651, 19.04060817, 19.06654877, 19.09248936, 19.11842995,
       19.14444161, 19.1703822 , 19.1963228 , 16.68316959, 16.70911018])

In [203]:
y_test[:20]

8599203     1.479
8599204     1.559
8599205     2.253
8599206     7.710
8599207    11.464
8599208    15.043
8599209    18.775
8599210    18.025
8599212    10.079
8599213    10.099
8599214    10.118
8599215    10.138
8599216    10.158
8599217    10.178
8599218    10.198
8599219    10.217
8599220    10.237
8599221    10.257
8599222     6.748
8599223     6.768
Name: AverageTemperature, dtype: float64

In [73]:
from numpy import asarray
from numpy import savetxt

savetxt('deneme02.csv', predict, delimiter=',', fmt='%1.3f')

In [95]:
import os
import glob
import pandas as pd

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
combined_csv.to_csv( "combined.csv", index=False, encoding='utf-8-sig')

In [96]:
df = pd.read_csv('combined.csv')